/* Apply Helvetica font to specific classes */
.helvetica-regular {
    font-family: Helvetica, Arial, sans-serif, monospace;
    font-weight: 400;
    font-style: normal;
}

.helvetica-bold {
    font-family: Helvetica, Arial, sans-serif, monospace;
    font-weight: 700;
    font-style: normal;
}

.helvetica-regular-italic {
    font-family: Helvetica, Arial, sans-serif, monospace;
    font-weight: 400;
    font-style: italic;
}

.helvetica-bold-italic {
    font-family: Helvetica, Arial, sans-serif, monospace;
    font-weight: 700;
    font-style: italic;
}

.container {
    max-width: 70%;
    width: 100%;
    padding: 1em;
    padding-top: 10px;
}

/* General styling */
body {
    overflow-x: hidden;
    background-color: black;
    color: white;
    font-family: Helvetica, Arial, sans-serif, monospace;
    font-weight: 300;
    font-style: normal;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding-top: 7em;
    padding-left: 15%;
}

p {
    font-size: 20px;
    line-height: 1.5;
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1em 10em;
    margin-bottom: 5px;
    padding-left: 0px;
}

header a {
    color: #7460e0;
    text-decoration: none;
    margin: 0 0.5em;
    font-size: 1em;
    font-weight: bold;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding-left: 0px;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

ul li::before {
	content: "• "; /* Bullet character */
	color: #7460E0; /* Color of the bullet */
	font-size: 1.5em; /* Adjust size if needed */
	margin-right: 0.5em; /* Spacing between bullet and text */
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.8em;
}

h1 span {
    color: #b36fff;
    font-size: 0.9em;
}

.site-name {
    border-bottom: 1px solid #ccc;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 3.5em;
    line-height: .7em;
    margin-top: .15em;
    width: 100%;
}

.sarankirthic {
    display: inline-block;
    overflow-wrap: break-word;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 900;
    letter-spacing: 0.02em;
    font-size: 50px;
    color: #ffffff;
}

.content {
    font-size: 20px;
}

.sarankirthic a {
    text-decoration: none;
    color: #ffffff;
}

.social {
    color: white;
    cursor: pointer;
    padding-top: 2em;
    font-size: 1em;
    text-decoration: underline;
    text-decoration-thickness: 0.2px;
    text-decoration-color: #ffffff;
    text-decoration-style: solid;
    text-underline-offset: 2px;
}
