html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding-right:0;
}

body {
    overflow-x: hidden;
    background-color: black;
    color: white;
    font-family: Helvetica, Arial, sans-serif, monospace;
    font-weight: 300;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding-top: 5%;
    padding-left: 15%;
    width: 70%;
    padding-right: 0;
}

p {
    display: flex;
    font-size: 20px;
    line-height: 1.5;
    width: 100%;
    padding-right:0;
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1em 0em;
    margin-bottom: 5px;
    padding-left: 0px;
}

header a {
    color: #6800c0;
    text-decoration: none;
    margin: 0 0.5em;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: Helvetica, Arial, sans-serif;
    padding-left: 0;
}

header .button-group {
    margin-left: auto;
    align-self: center;
}

header span {
    color: #6800c0;
    text-decoration: none;
    margin: 0 0.5em;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: Helvetica, Arial, sans-serif;
    padding-left: 0;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

ul li::before {
	content: "• ";
	color: #6800c0;
	font-size: 1.5em;
	margin-right: 0.5em;
}

.container {
    max-width: 100%;
    width: 100%;
    padding: 1em;
    padding-top: 10px;
}

.site-name {
    border-bottom: 1px solid #ccc;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 3.5em;
    line-height: .7em;
    margin-top: .15em;
    width: 100%;
}

.sarankirthic {
    width: 100vh;
    display: inline;
    overflow-wrap: break-word;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 900;
    letter-spacing: 0.02em;
    font-size: 80%;
    color: #ffffff;
}

.sarankirthic a {
    text-decoration: none;
    color: #ffffff;
}

.content {
    font-size: 20px;
}

.social {
    color: white;
    cursor: pointer;
    padding-top: 2em;
    font-size: 1em;
    text-decoration: underline;
    text-decoration-thickness: 0.2px;
    text-decoration-color: #ffffff;
    text-decoration-style: solid;
    text-underline-offset: 2px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding-bottom: 1em;
}