<div>
	<p>This is the roadmap I am currently learning</p>

	<ul>
		<li>
			<em><s>Python</s></em>
		</li>
		<li>
			<em><s>Java</s></em>
		</li>
		<li>
			<em><s>Data Science (NumPy, Pandas)</s></em>
		</li>
		<li>
			<em><s>Web Development</s></em>
		</li>
		<li>
			<em><s>Data Structures</s></em>
		</li>
		<li>
			<em><s>Algorithms</s></em>
		</li>
		<li>
			<em><s>AWS - Cloud Practitioner</s></em>
		</li>
		<li>RUST</li>
		<li>Creative Coding</li>
		<li>Embedded Systems</li>
		<li>UNIX Operating System</li>
		<li>Transistors</li>
		<li>Digital Circuits</li>
		<li>Comp Arch (CPU, memory)</li>
		<li>Machine Language</li>
		<li>Assembly</li>
		<li>ML (Torch, CUDA)</li>
	</ul>

	<p><em>last updated: 2025-09-23</em></p>
	<p>..-. ..- -.-. -.- - .... .. ... ... .... .. -</p>
</div>