<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sarankirthic | my site</title>
    <link rel="icon" type="image/jpeg" href="{{ url_for('static', filename='images/sarankirthic.jpg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="site-name">
            <div class="sarankirthic"><a href="{{ url_for('home') }}">sarankirthic sp</a></div>
        </div>
        <header>
            <a href="{{ url_for('home') }}" style="margin-left: 0">home</a>
            <a href="{{ url_for('projects') }}">projects</a>
            <a href="{{ url_for('static', filename='documents/sarankirthic.pdf') }}">resume</a>
            <a href="{{ url_for('about') }}">about</a>
            <a href="{{url_for('contact') }}">contact</a>
        </header>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
        <div>
            <span class="social" onclick="window.location.href='https://linkedin.com/in/sarankirthic-sp'">linkedin</span>
            <span class="social" onclick="window.location.href='https://github.com/sarankirthic'">github</span>
            <span class="social" onclick="window.location.href='mailto:sarankirthic@gmail.com'">email</span>
        </div>
    </div>
</body>
</html>