{% extends 'base.html' %}

{% block content %}
    <div style="display:flex; padding-right:0">
        <p style="display:flex; padding-right:0">
            Hi, I’m Sarankirthic SP - a Software Engineer, Programmer, and Creator passionate about transforming ideas
            into impactful technology.
            <br>
            My journey spans backend development, cybersecurity, and Linux systems, fueled by an insatiable curiosity
            and a love for programming, emerging technologies, books, art, and gaming.
            <br>
            Whether I’m architecting scalable data pipelines or crafting visually compelling art through code, I thrive
            at the intersection of creativity and engineering.
            <br>
            Linux is more than just a tool for me—it’s a passion and an obsession that drives my exploration of system
            internals, open-source software, and customization.
            <br>
            I’m constantly seeking innovative ways to blend technical rigor with creative expression, delivering elegant
            solutions that are both functional and inspiring.
            <br>
            This reflects my commitment to continuous learning, problem-solving, and pushing the boundaries of software
            engineering. I am excited to build, create, and explore the endless possibilities that technology offers.
        </p>
    </div>
{% endblock %}
