{% extends 'base.html' %}

{% block content %}
    <div style="display:flex; padding-right:0;">
        <p style="display:flex; padding-right:0; margin-top: 0">
        Hello! I am Sarankirthic SP.
        <br>
        About:
        <br>
        Software engineer building reliable AI and data systems—end to end—from ingestion to insight and from prototype to production incident playbooks.
        <br>
        (I am really obsessed with linux)
        <br>
        My hobby is to create art using Code!
        </p>
    </div>
{% endblock %}
